*{
    margin: 0;
    
    
}
 header{ 
    background: #002f6c; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}


.main
{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("1.jpg");
    background-position: center;
    background-size: cover;
    height: 130vh;
}


    

.navbar{
    width: 1200px;
    height: 100px;
    margin-top: 1px 10px;
    background-color: #dbe6ea;
    background-color: transparent;
    background-position: initial;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}



.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
      list-style: none;
    margin-left: 30px;
    margin-top: 40px;
    word-spacing: 50px;

}

ul li a{
   text-decoration: none;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    word-spacing: 10px;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #d7d30c;
}

.box{
    width: 100%;
    float: left;
    margin-top: 55px;

}
.box h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.box h1:hover{
    color: #d7d30c;
}
.box p{
    width: 100%;
    text-align: center;
    margin-top: 18px;
    font-size: 30px;
    color: #fff;
}
.box p:hover{
    color: #d7d30c;
}

footer{ 
    text-align: center; 
    padding: 20px; 
    background: #002f6c; 
    color: white; 
}

@media screen and (max-width:1200px) {
    
     html,body{
        
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .navbar{
        width: 100%;
        height: 100px;
        float: left;
        text-align: left;
        word-spacing: 10px
    }
    ul{
        margin-left: 2px;
        word-spacing: 10px;
    }
    ul li{
        margin-left: 2px;
        word-spacing: 10px;
        float: left;
    }
    ul li a{
        font-size: 3vw;
        width: 100%;
        word-spacing: 10px;
        margin-left: 5%;
    }
    .box{
        width: 100%;
    }
    .box h1{
        font-size: 6vw;
    }
   .box p{
        font-size: 3.5vw;
        width: 100%;
    }

}